@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    box-sizing: border-box;
}

::placeholder{
    color: rgba(31, 66, 132, 1);
}

body{
    font-family: "Manrope";
    position: relative;
    height: 100vh;
    
}

button{
    outline: none;
    background: transparent;
    border: none;
}


.container{
    width: 100%;
    padding: 14px 24px;

}

.content{
    width: 100%;
    background-color: rgba(240, 244, 252, 1);
}
.content_demo{
    display: flex;
    flex-direction: column;
}

.content_description-block{
    padding: 24px 24px 18px 24px;
}

.content_title{
    font-size: 1.06rem;
    font-weight: 500;
    line-height: 1.68rem;
    color: rgba(31, 66, 132, 1);
}

.content_text{
    font-size: 0.81rem;
    line-height: 1.25rem;
    color: rgba(114, 114, 114, 1);
    margin-bottom: 18px;
}

.content_button{
    width: 100%;
    background-color: rgba(36, 76, 152, 1);
    border-radius: 60px;
    font-size: 0.93rem;
    font-weight: 500;
    color: white;
    position: relative;
    padding: 10px 10px 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content_image-block{
    width: 100%;
    height: 220px;
    background: url('./public/image-15.webp') no-repeat center;
    background-size: cover;
}

@media only screen and (min-width: 768px) {
    .content_button {
        width: 261px;
    }
    .content_title {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .content_text {
        font-size:0.93rem;
        line-height: 1.5rem;
        margin-bottom: 24px;
        max-width: 672px;
    }
    .content_image-block {
        height: 360px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        padding: 36px 40px;
    
    }
    .content_demo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .content_description-block{
        padding: 105px 72px;
        width: 52%;
    }

    .content_image-block {
        height: auto;
        width: 48%;
    }

    .content_title {
        font-size: 1.625rem;
        line-height: 2.56rem;
    }
    
    .content_text {
        font-size: 1.06rem;
        line-height: 1.68rem;
        margin-bottom:36px;
        width: 538px;
    }

    .content_button {
        width: 341px;
        font-size: 1.125rem;
        padding: 19px 12px 19px 24px;
    }
}